node-js/postgresql-api/node_modules/*
.vscode/settings.json
python/temp.py
java/temp.java
*.iml
kotlin/.idea/*
kotlin/out/*
*temp*
intellij-leetcode*
/java/*
intellij
*node_modules*
node-js/mysql/package-lock.json
.directory
